<footer class="site-footer">
  <section class="pull-left">
    <ul class="site-links">
      <li><a href="{{site.eventbrite_url}}">Events</a></li>
      <li><a href="#">About</a></li>
    </ul>
    <ul class="social-links">
      <li><a href="http://www.twitter.com/{{site.twitter_username}}"><i class="fab fa-twitter"></i></a></li>
      <li><a href="http://www.instagram.com/{{site.instagram}}"><i class="fab fa-instagram"></i></a></li>
      <li><a href="http://www.facebook.com/{{site.facebook_username}}"><i class="fab fa-facebook"></i></a></li>
      <li><a href="mailto:{{site.email}}"><i class="far fa-envelope"></i></i></a></li>
    </ul>
  </section>
  <section class="footer-description pull-right">
    <div><span class="bold">Monthly Music Hackathon</span> is organized by Music Community Lab, Inc., a non-for-profit, volunteer-run organization.</div>
    <a href="{{site.donate_url}}"><button class="primary-button">Donate</button></a>
  </section>
</footer>
