<header class="site-header">
  <a href="{{site.url}}">
    <div class="logo">
      <span class="logo-highlight">Music</span>
      <span class="logo-highlight">Community</span>
      <span class="logo-highlight">Lab</span>
    </div>
  </a>
  <section class="links">
    <ul class="site-links">
      <li><a href="{{site.events_url}}">Events</a></li>
      <li><a href="{{site.url}}/about/">About</a></li>
    </ul>
    <ul class="social-links">
      <li><a href="http://www.twitter.com/{{site.twitter_username}}"><i class="fab fa-twitter"></i></a></li>
      <li><a href="http://www.instagram.com/{{site.instagram_username}}"><i class="fab fa-instagram"></i></a></li>
      <li><a href="http://www.facebook.com/{{site.facebook_username}}"><i class="fab fa-facebook"></i></a></li>
    </ul>
  </section>
</header>
