<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

    {% seo %}

    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body>
    <header class="site-header">
      <div class="logo">
        <span class="logo-highlight">Music</span>
        <span class="logo-highlight">Community</span>
        <span class="logo-highlight">Lab</span>
      </div>
      <section class="links">
        <ul class="site-links">
          <li><a href="{{site.eventbrite_url}}">Events</a></li>
          <li><a href="#">About</a></li>
        </ul>
        <ul class="social-links">
          <li><a href="http://www.twitter.com/{{site.twitter_username}}"><i class="fab fa-twitter"></i></a></li>
          <li><a href="http://www.instagram.com/{{site.instagram}}"><i class="fab fa-instagram"></i></a></li>
          <li><a href="http://www.facebook.com/{{site.facebook_username}}"><i class="fab fa-facebook"></i></a></li>
        </ul>
      </section>
    </header>

    <section class="main-content">
      {{ content }}
    </section>

    <footer class="site-footer">
      <section class="pull-left">
        <ul class="site-links">
          <li><a href="{{site.eventbrite_url}}">Events</a></li>
          <li><a href="#">About</a></li>
        </ul>
        <ul class="social-links">
          <li><a href="http://www.twitter.com/{{site.twitter_username}}"><i class="fab fa-twitter"></i></a></li>
          <li><a href="http://www.instagram.com/{{site.instagram}}"><i class="fab fa-instagram"></i></a></li>
          <li><a href="http://www.facebook.com/{{site.facebook_username}}"><i class="fab fa-facebook"></i></a></li>
          <li><a href="mailto:{{site.email}}"><i class="far fa-envelope"></i></i></a></li>
        </ul>
      </section>
      <section class="footer-description pull-right">
        <div><span class="bold">Monthly Music Hackathon</span> is organized by Music Community Lab, Inc., a non-for-profit, volunteer-run organization.</div>
        <button class="primary-button">Donate</button>
      </section>
    </footer>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
